/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	font-family: 'Arial', sans-serif;
	top: 0;
	left: 0;
	background: rgba(41,35,51,1);
	z-index: 999;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 15px;
	height:15px;
	position: absolute;
	right: 50px;
	top:50px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

.overlay .notice p{
	text-align: center;
	margin-left: 35%;
	font-size: 35px;
	color: white;
	bottom: 10px;
}
/* Menu style */
.overlay nav {
	margin-left: 5%;
	padding: 50px;
	text-align: left;
	position: relative;
	top: 50%;
	height: 90%;
	width: 30%;
	border-radius: 25px;
	background-color: rgba(219,186,129,0.9);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 60px;
	width:100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	width: 100%;	
	margin-left: auto;
	margin-right: auto;
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
		border-bottom: 1px solid rgba(255,255,255,0.4);
		-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.overlay ul li a {
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 4px;
	display: block;
	color: white;
	padding-bottom: 25px;
	padding-top: 25px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	outline: 0;

}
.overlay ul li:hover {
	width: 50%;	

	border-bottom: 1px solid white;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	outline: 0;
}

/* Effects */
html, body {
	overflow-x: hidden;
}

.container {
	overflow-x: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;	
}

.container.overlay-open {
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
}

.container::after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.container.overlay-open::after {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-contentpush {
	background: rgba(70,46,48,.75);
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.overlay p {
	
	font-family: 'Arial', sans serif;
	font-size: 1.5em;
	color: white;
}

